.slider{
    position: relative; 
    width: 99.8%;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    margin: 2px;
}

.slider .slider-wrapper{
    display: flex;
    transition: transform ease-out 0.4s;
}

.slider-wrapper .slide{
    flex: 0 0 100%;
    height: 100%;
    position: relative;
}

.slider .dots-wrapper{
    position: absolute;
    bottom: 10px;  
    left: 50%;
    transform: translateX(-50%);
}

.dots-wrapper .dots{
    color: rgb(24, 23, 23);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.dots-wrapper .dots.active{
    color: red;
}
