.nav-links{
    color: black;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.link-hover:hover{
    text-decoration: underline;
    text-decoration-color:black;
    text-decoration-thickness: 4px;
    text-underline-offset: 3px;
}

.parent:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    color: black;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.submenu-content{
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    /* background-color: white; */
    position: absolute;
    flex-direction: row;
    gap: 20px;
    z-index: 100;
    width: 100%;
    height: 50vh;
    left: 0%;
    display: flex;
    justify-content: center;
    
}

.sublinks li{
    list-style-type: none;
    padding: 5px;
    line-height: 1.3;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  
}

.submenu-link {
  color: #776B5D;
  text-decoration: none;
}

.submenu-link:hover {
  color: black;
}

.head span{
    padding: 10px;
   text-decoration:2px solid black underline;
   text-underline-offset: 8px;
   line-height: 3;
   font-weight: 900;
}